@page "/products/details/{id:int}"

<h3>Details</h3>
@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}
<FormComponent ProductEntity="productEntity" Disabled="true" />
